/*------------------------------------------------------------------

[Master Stylesheet]
Project:	    Matarial CV/Resume Template
Version:	    1.0
Last change:	06/02/16
Primary use:	CV/Resume, Portfolio, Perosnal Website

-------------------------------------------------------------------*/
/*
|----------------------------------------------------------------------------
| CSS INDEX
|----------------------------------------------------------------------------
    1. STYLESHEET
        1-1. CUSTOM
        1-2. TYPOGRAPHY
        1.3. BODY
    2. SIDEBAR
    3. SECTIONS CUSTOM STYLE
    4. WORK EXPERIENCE
    5. INTEREST
    6. WEBSITE
    7. BLOG
    8. COVER LATTER
    9. CONTACT
    10. PORTFOLIO

------------------------------------------------------------------*/
/*------------------------------------------------------------------
[ Color codes ]
    main-color:         #5da4d9;
    Blue:               #71DD75 (Blue)    [ This is the main color in Template ]
    white:              #FFFFFF (White)     [  ]
    body-bg-color:      #eae8e7            [ body bg color ]
    font-color:         #767270             [ font color  ]
    border-color:       #4783c2;

------------------------------------------------------------------ */
* {
  font-family: 'roboto', sans-serif;
}
.fix {
  overflow: hidden;
}
p {
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  font-size: 10pt;
  line-height: 17pt;
}
a {
  color: #ffffff;
}
.clear {
  clear: both;
}

/* style for Typography */
h2,
h3 {
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
}
h2 {
  font-size: 22pt;
  line-height: 37pt;
  margin: 0px;
}
h3 {
  font-size: 14pt;
  line-height: 24pt;
}
h4 {
  font-size: 12pt;
  line-height: 20pt;
  opacity: 1;
}
h5 {
  font-size: 10pt;
  margin: 0px;
  padding: 0px;
  line-height: 15pt;
}
.fa {
  font-size: 22px;
}
/* style for

***** body  *****

*/
body {
  background-color: #eae8e7;
  color: #767270;
  text-align: center;
}
.container {
  margin-top: 24px;
}
/* style for

***** Sidebar  *****

*/
.sidebar {
  text-align: left;
  color: #ffffff;
  background-color: #5da4d9;
  overflow: hidden;
  display: block;
}
.sidebar .heading {
  position: relative;
}
.sidebar .heading .feature-img {
  /*position: relative;*/
  text-align: center;
}
.sidebar .heading .feature-img img {
  /*width: 100%;*/
  margin-top: 60px;
}
.sidebar .heading .feature-img h2 {
  /*width: 100%;*/
  margin-left: 14px;
  margin-right: 14px;
  margin-bottom: 10px;
}
.sidebar .heading .feature-img a {
  /*width: 100%;*/
  margin-bottom: 20px;
}
.sidebar .heading .button-collapse {
  display: block !important;
}
.sidebar .heading .nav-icon {
  position: absolute;
  top: 0;
  padding: 0 16px;
}
.sidebar .heading nav {
  background-color: initial;
  box-shadow: initial;
}
.sidebar .heading nav .button-collapse i {
  height: 30px;
  font-size: 18pt;
  line-height: 24pt;
  background-color: #5da4d9;
  margin-top: 20px;
  padding: 0px 6px;
}
.sidebar .heading nav .side-nav h3 {
  color: #5da4d9;
  padding: 0 15px;
}
.sidebar .heading nav .side-nav li a:hover {
  color: #5da4d9;
}
.sidebar .heading nav .side-nav li:hover {
  background-color: transparent !important;
}
.sidebar .heading .title {
  position: absolute;
  right: 11px;
  bottom: 46px;
}
.sidebar .heading .title span {
  margin-top: -5px;
  font-size: 10pt;
  margin: 0px;
  padding: 0px;
  line-height: 15pt;
}
.sidebar .icon {
  margin-top: 8px;
}
.sidebar .icon .fa {
  display: inherit;
  text-align: center;
}
.sidebar .sidebar-item {
  overflow: hidden;
  margin-top: 10px;
}
.sidebar .sidebar-item:first-child {
  margin-top: 30px;
}
.sidebar .section-item-details {
  padding-right: 26px;
  margin-bottom: 30px;
}
.sidebar .section-item-details p {
  margin: 0px;
}
.sidebar .info {
  border-bottom: 1px solid #4783c2;
  padding-left: 0px;
}
.sidebar .info span {
  opacity: 0.7;
  font-weight: 300;
}
.sidebar .personal {
  margin-bottom: 20px;
}
.sidebar .personal h4 {
  margin: 0px;
}
.sidebar .work h4 {
  margin-bottom: 0px;
}
.sidebar .address-details h4 {
  margin-top: 0px;
}
.sidebar .address-details h4 span {
  font-size: 10pt;
}
.sidebar .skill-line {
  padding-right: 30px;
  padding-left: 0px;
}
.sidebar .skill-line .progress {
  background-color: #4783c2;
  height: 2px;
  overflow: visible;
}
.sidebar .skill-line .determinate {
  background-color: #ffffff;
}
.sidebar .skill-line .determinate .fa {
  font-size: 12px;
  position: absolute;
  top: -5px;
  right: 0px;
  margin-left: 50%;
}
.sidebar .skill-line h3 {
  margin-top: 0px;
  margin-bottom: 20px;
}
.sidebar .skill-line span {
  opacity: initial;
}
/* style for

***** Sections *****

*/
#section {
  overflow: hidden;
}
.section {
  padding-left: 32px !important;
  text-align: left;
}
.section .fa {
  text-align: center;
  display: block;
  font-size: 30pt;
}
.inline-fa {
  text-align: center;
  display: inline-block !important;
  font-size: 30pt;
  margin-left: 25px;
  margin-right: 25px;
}
.button-fa {
  margin-right: 10px;
  margin-left: -10px;
}
.section .section-wrapper {
  background-color: #ffffff;
  overflow: hidden;
  margin-bottom: 24px;
  padding-bottom: 24px !important;
}
.section .section-wrapper .section-icon {
  margin-top: 40px;
}
.section .section-wrapper h2 {
  margin-top: 25px;
  margin-bottom: 25px;
}
/* style for

***** Work Experience  *****

*/
.custom-content {
  padding-right: 0px !important;
}
.custom-content-wrapper {
  margin-right: 35px;
  margin-left: 25px;
  margin-bottom: 25px;
  border-bottom: 1px solid #bdbdbd;
}
.custom-content-wrapper:last-child {
  border-bottom: initial;
}
.custom-content-wrapper h3 {
  margin: 0px;
  font-size: 12pt;
  line-height: 20pt;
}
.custom-content-wrapper h3 span {
  color: #767270;
}
.custom-content-wrapper span {
  color: #5da4d9;
  margin-top: 0px;
  font-size: 10pt;
  line-height: 15pt;
}
.custom-content-wrapper p {
  margin-top: 0px;
  margin-bottom: 25px;
}

.btn {
  margin-left: 10px;
  background-color: #e26868;
}
.btn:hover,
.btn:focus {
  background-color: #dc2e2e;
}

/*
 * Quotes
 */
 .quotes {
   text-align: center;
   margin-top: 70px;
 }

.quotes .thumbnail {
  padding: 20px;
  background-color: white;
}
.quotes .thumbnail h3 {
  font-size: 26px;
  margin-bottom: 0px;
  line-height: 40px;
}
.quotes .thumbnail img {
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  border-radius: 50%;
  height: 100px;
  width: 100px;
  vertical-align: middle;
  margin-top: -60px;
  opacity: 0.9;
}
.quotes .thumbnail p {
  font-style: italic;
  font-size: 15px;
  line-height: 27px;
  padding: 10px 30px;
  margin-top: 0px;
  color: #8a8a8b;
}
.quotes .thumbnail p:before {
  content: "“ ";
  font-size: 30px;
  line-height: 0;
  display: inline-block;
  margin: 0 0 0 4px;
}
.quotes .thumbnail p:after {
  content: "”";
  font-size: 30px;
  line-height: 0;
  display: inline-block;
  margin: 0 0 0 4px;
}

.section-item-details h4 {
  margin-top: 8px;
}

#info-phone {
  padding-top: 4px;
}

#info-email {
  padding-top: 5px;
}

#info-address {
  padding-top: 6px;
}

#info-skills {
  padding-top: 4px;
}

.read-more {
  color: #039be5 !important;
}

/* Smartphones (portrait) */
@media only screen and (max-width: 600px) {
  .container {
    width: 100% !important;
  }
  /* Sidebar Style*/
  .sidebar .nav-icon {
    top: 0;
  }
  .sidebar .button-collapse {
    margin-left: 0px;
  }
  .sidebar .sidebar-item {
    padding-right: 40px !important;
    margin-left: 10px !important;
  }
  /* Sidebar Style*/
  .section {
    padding: 0px !important;
    margin-top: 30px;
    padding: 0px 22px;
  }
  .section h4 {
    line-height: 24px;
    margin-bottom: 10px;
  }
  .section .custom-content-wrapper p {
    padding: 15px;
  }
}

/* tab portrait and down   */
@media only screen and (max-width: 992px) {
  .container {
    width: 100% !important;
    margin-top: 0px !important;
  }
  .section {
    padding-left: 22px !important;
  }
  .row {
    margin-left: -1.5rem !important;
    margin-right: -1.5rem !important;
    margin-bottom: 10px !important;
    overflow-x: hidden !important;
  }
  .sidebar .sidebar-item {
    padding-right: 20px !important;
    margin-left: 10px !important;
  }
}

/* computers */
@media only screen and (min-width:993px){
  .container {
    width: 82% !important;
  }
}
